/* --------------------
デバイス共通のスタイル
-------------------- */

.main-section-2column__right {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-section-2column__right::-webkit-scrollbar {
  display: none;
}






/* --------------------
パソコン用のスタイル
-------------------- */

@media (min-width: 961px) {
  .main-section-2column__right {
    width: 688px;
    padding-right: calc((100dvw - 960px) / 2);
  }
}






