{{ define "main" }}
{{ partial "header.html" . }}

<div class="diary-page">
    <h1>Month Template Applied</h1>
    {{ partial "diary_menu.html" . }}
    <div class="articles-list">
        <h2>Articles for {{ .Title }}</h2>
        {{ $month := .Params.month }}
        {{ range (where .Site.RegularPages "Section" "diary") }}
            {{ if eq (.Date.Format "2006-01") $month }}
                <article id="{{ .Title | urlize }}" class="article">
                    <a href="{{ .Permalink }}" class="article-link">
                        <div class="article-title">{{ .Title }}</div>
                        <div class="article-date">{{ .Date.Format "2006-01-02" }}</div>
                        <div class="article-content">{{ .Summary }}</div>
                    </a>
                </article>
            {{ end }}
        {{ end }}
    </div>
</div>
<div class="debug-info">
    <p>taxonomy/diaries.html</p>
</div>

{{ end }}
