/* common.css */
/* スクロールバーを非表示にする */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 2.5rem 0 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
} */

::-moz-selection {
  background: #FCEDC3;
}
::selection {
  background: #FCEDC3;
}

a {
  text-decoration: none;
}




/* --------------------
スマホ用のスタイル
-------------------- */
@media (max-width: 960px) {
  body {
    height: 100dvh;
  }
}
