baseURL = "https://ezeroms.com/"
languageCode = "ja"
title = "ezeroms.com"

enableDebug = true
disableAliases = true

[taxonomies]
  subject = "subject"
  column_category = "column_category"
  topic = "topic"
  tweet_tag = "tweet_tag"
  tweet_month = "tweet_month"
  tweet_place = "tweet_place"
  diary_tag = "diary_tag"
  diary_month = "diary_month"
  column_tag = "column_tag"
  work_tag = "work_tag"
  work_month = "work_month"
  work_category = "work_category"
  chronicle_tag = "chronicle_tag"
  ui_design_guidebook_tag = "ui_design_guidebook_tag"

[outputs]
  home = ["HTML", "RSS"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]

[permalinks]
  tweet = "/tweet/:slug/"
  diary = "/diary/:slug/"
  column = "/column/:slug/"
  work = "/work/:slug/"

[params]
  description = "One thing I can tell you is you got to be free!"
  keywords = ""
  RSSLink = "index.xml"
  ogImage = "images/common/og-image.png"
  googleAnalytics = "G-K021MTL6NX"
  
  [params.chronicle]
    defaultStartYear = 1989
    defaultEndYear = 2025

[author]
  name = "ezeroms"

[outputFormats]
  [outputFormats.RSS]
    mediatype = "application/rss+xml"
    baseName = "index"
    isPlainText = true

[markup]
  [markup.goldmark]
    [markup.goldmark.parser]
      autoheadingid = true
      autoheadingidtype = 'github'
      wrapstandaloneimagewithinparagraph = false
    [markup.goldmark.renderer]
      unsafe = true
