.about {
    width: 672px;
    margin: 64px auto 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0;
}

.about__content {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.about__content img {
    width: 100%;
    margin-bottom: 8px;
}


.about__content h2 {
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: #050317;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    display: inline-block;
    margin: 0;
    text-decoration: none;
}

.about__content p {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #050317;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}



/* アワード */
.about__awards {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}



/* メディア掲載 */
.about__media-coverage {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.about__media-coverage h2 {
    margin: 0 0 16px;
    text-align: center;
}



/* コンタク */
.about__contact h2 {
    margin: 0 0 16px;
    text-align: center;
}





.media-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: 100%;
}



.contact-icons a img {
    width: 40px;
    margin: 10px;
}

.media-card {
    text-align: left;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 32px;
    border: 1px solid #E7E7E9;
    border-radius: 24px;
    background-color: #fff;
    transition-duration: 0.4s;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.media-card__h3 {
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: #050317;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    transition-duration: 0.4s;
}

.media-card__p {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #050317;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    text-decoration: none;
}