/* --------------------
デバイス共通のスタイル
-------------------- */
.article-container {
  width: 100%;
  padding: 0;
  margin: 64px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


/* --------------------
スマホ用のスタイル
-------------------- */

@media (max-width: 960px) {

}




/* --------------------
パソコン（小）用のスタイル
-------------------- */
@media (min-width: 961px) and (max-width: 1440px) {


}




/* --------------------
パソコン（大）用のスタイル
-------------------- */
@media (min-width: 1441px) {

}











