/* --------------------
デバイス共通のスタイル
-------------------- */

.article-container {
  width: 100%;
  padding: 0;
  margin: 64px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


/* --------------------
スマホ用のスタイル
-------------------- */
@media (max-width: 960px) {
  .article-container {
    margin: 16px 0 40px;
    width: calc(100dvw - 32px);
    padding: 0 16px 40px;
    gap: 16px;
  }
}
