/* --------------------
デバイス共通のスタイル
-------------------- */
.article-item {
  width: auto;
  /* min-width: calc(100% - 64px); */
  margin: 0;
  padding: 32px;
  border: 1px solid #E7E7E9;
  border-radius: 24px;
  background-color: #fff;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hover-effect:hover {
  border: 1px solid #6E6D79;
  transition-duration: 0.2s;
}

.article-item h1 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  color: #050317;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 28.8px */
  display: inline-block;
  margin: 0 0 28px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.article-item p.date {
  font-size: 14px;
  margin: 0 0 -4px;
  font-style: italic;
  color: #5D5D5F;
}


.article-item h2 {
  margin: 16px 0 0!important;
  border-bottom: 1px solid #E7E7E9;
  width: 100%;
  padding: 0 0 4px;
  max-width: 100%;
  color: #050317;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 28.8px */
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.article-item h3 {
  margin: 16px 0 0!important;
  padding: 0;
  max-width: 100%;
  color: #050317;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 28.8px */
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.article-item h6 {
  text-align: center;
  width: 100%;
  margin: 0;
  height: 1em;
  padding: 0;
}

.article-item hr {
  background-color: #E7E7E9;
  height: 1px;
  width: 100%;
  border: none;
}

.article-item p {
  margin: 0;
  padding: 0;
  color: #050317;
  
  width: 100%;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
}

.article-item a {
  text-decoration: underline;
  color: inherit;
}

.article-item a:hover {
  opacity: 0.6;
  transition-duration: 0s;
}


.article-item ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0;
  padding-inline-start: 1rem;
  list-style-type: disc!important;
}

.article-item li {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #050317;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
}

.article-item img {
  width: 100%;
}

.article-link {

}




.social-action {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0 0;
  align-items: center;
}

.social-action__left {
  display: flex;
  /* width: 100%; */
  /* padding: 24px 0; */
}

.social-action__right {
  display: flex;
  gap: 16px;
  /* width: 100%; */
  justify-content: flex-end;
}

.social-action__line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 8px 16px 8px 8px; */
  border-radius: 24px;
  gap: 8px;
  cursor: pointer;
}

.social-action__line a {
  font-size: 14px;
  text-decoration: none!important;
  color: #5D5D5F!important;
  font-weight: 400!important;
  transition-duration: 0.2s;
}

.social-action__line .social-action__line-icon {
  margin: 0!important;
  margin-right: 0;
  width: 40px;
  height: 40px;
  background-size: 84%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/diary/icon_line_off.svg');
  border: 1px solid #E7E7E9;
  border-radius: 24px;
  transition-duration: 0.2s;
}

.social-action__line:hover a {
  opacity: 1;
  color: #06C655!important;
  transition-duration: 0s;
}

.social-action__line:hover .social-action__line-icon {
  border: 1px solid #C8EBCF;
  background-image: url('/images/diary/icon_line_on.svg');
  opacity: 1;
  transition-duration: 0s!important;
}

.social-action__x {
  text-decoration: none!important;
  margin: 0!important;
  margin-right: 0;
  width: 40px;
  height: 40px;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/diary/icon_x_off.svg');
  border: 1px solid #E7E7E9;
  border-radius: 24px;
  transition-duration: 0.2s;
}

.social-action__x:hover {
  background-image: url('/images/diary/icon_x_on.svg');
  border: 1px solid #D0D0D1!important;
  opacity: 1!important;
}

.social-action__hatena {
  text-decoration: none!important;
  margin: 0!important;
  margin-right: 0;
  width: 40px;
  height: 40px;
  background-size: 74%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/diary/icon_hatena_off.svg');
  border: 1px solid #E7E7E9;
  border-radius: 24px;
  transition-duration: 0.2s;
}

.social-action__hatena:hover {
  background-image: url('/images/diary/icon_hatena_on.svg');
  border: 1px solid #D0D0D1!important;
  opacity: 1!important;
}

.social-action__link {
  text-decoration: none!important;
  margin: 0!important;
  margin-right: 0;
  width: 40px;
  height: 40px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/diary/icon_link_off.svg');
  border: 1px solid #E7E7E9;
  border-radius: 24px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.social-action__link:hover {
  background-image: url('/images/diary/icon_link_on.svg');
  border: 1px solid #D0D0D1!important;
  opacity: 1!important;
}

/* --------------------
スマホ用のスタイル
-------------------- */
@media (max-width: 960px) {
  .article-item {
    width: calc(100dvw - 48px - 32px);
    padding: 24px;
    gap: 12px;
  }

  .article-item h1 {
    font-size: 18px;
    margin: 0 0 18px;
  }

  .article-item p {
    font-size: 14px;
  }

  .hover-effect:hover {
    border: 1px solid #E7E7E9;
  }


  .article-item h2 {
    font-size: 15px;
  }
  
  .article-item h3 {
    font-size: 14px;
  }

  .article-item ul {
    gap: 8px;
    margin: 8px 0;
    padding-inline-start: 1rem;
  }
  
  .article-item li {
    font-size: 14px;
  }


  .social-action {
    justify-content: start;
    align-items: center;
    gap: 16px;
    flex-direction: column-reverse;
    /* border-top: 1px solid #E7E7E9; */
    margin: 40px 0 0;
    /* padding: 24px 0 0; */
  }

  .social-action__line {
    gap: 2px;
    padding: 0 8px 0 0;
  }

  .social-action__line a {
    font-size: 12px;
  }
  
  .social-action__line .social-action__line-icon {
    width: 32px;
    height: 32px;
    border: none;
    background-size: 100%;
    background-image: url('/images/diary/icon_line_on.svg');
  }

  .social-action__line:hover a {
    color: #5D5D5F!important;
  }

  .social-action__line:hover .social-action__line-icon {
    border: none;
    opacity: 1;
    transition-duration: 0s!important;
  }

  .social-action__right {
     gap: 24px;
  }

  .social-action__x {
    width: 32px;
    height: 32px;
  }

  .social-action__x:hover {
    background-image: url('/images/diary/icon_x_off.svg');
    border: 1px solid #E7E7E9!important;
  }

  .social-action__hatena {
    width: 32px;
    height: 32px;
  }

  .social-action__hatena:hover {
    background-image: url('/images/diary/icon_hatena_off.svg');
    border: 1px solid #E7E7E9!important;
  }

  .social-action__link {
    width: 32px;
    height: 32px;
  }
  
  .social-action__link:hover {
    background-image: url('/images/diary/icon_link_off.svg');
    border: 1px solid #E7E7E9!important;
  }

  .article-item p.date {
    font-size: 12px;
    margin: 0 0 -6px;
  }

}
