body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
}


.keyword-page {
    display: flex;
  }
  
  .tags-list {
    width: 20%;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .tags-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .tags-list li {
    margin: 5px 0;
  }
  
  .articles-list {
    width: 80%;
    padding: 10px;
  }
  
  .articles-list article {
    margin-bottom: 20px;
  }
  
  .articles-list h4 {
    margin: 0;
  }
  
  .articles-list div {
    margin-top: 10px;
  }
  