/* --------------------
デバイス共通のスタイル
-------------------- */

.article-container {
  width: 688px;
  max-width: 100%;
  padding: 0;
  margin: 64px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}


