{{ define "main" }}
{{ partial "header.html" . }}

<main class="main-section">
    <section class="main-section-1column">
        <div class="work">
            {{ range .Pages }}
                <div class="work-item">
                    <a href="{{ .Permalink }}">
                        <img src="{{ .Params.image }}" alt="{{ .Title }}">
                    </a>
                </div>
            {{ end }}
        </div>
    </section>
</main>

{{ partial "global-nav.html" . }}

<!-- debug-info -->
<p class="debug-info">Template : /layouts/works/index.html</p>

{{ end }}
