{{ define "main" }}
{{ partial "header.html" . }}
{{ partial "sp-header/work" . }}
{{ partial "notification.html" . }}

<main class="main-section">
    <section class="main-section-1column">
        <div class="work">
            
            <div class="work-hero">
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
            </div>
    
            <ul class="article-container work-single">

                <div class="article-item-heading">
                    <div class="article-item-heading__label">
                        <p class="article-item-heading__label__p">
                            {{ .Date | dateFormat "2006-01-02" }}
                        </p>
                        <h2 class="article-item-heading__label__h2">
                            {{ .Title }}
                        </h2>
                    </div>
    
                    <!-- ボタンここから -->
                    <button class="article-item-heading__button" onclick="copyToClipboard()">
                        <img src="{{ "images/common/icon_link.svg" | relURL }}" alt="Get article url">
                    </button>
                    <script>
                        function copyToClipboard() {
                            const url = window.location.href;
                            navigator.clipboard.writeText(url).then(function() {
                                showNotification();
                            }, function(err) {
                                console.error('リンクの保存に失敗しました: ', err);
                            });
                        }
                        function showNotification() {
                            var notification = document.getElementById("notification");
                            notification.className = "notification show";
                            setTimeout(function() {
                                notification.className = notification.className.replace(" show", "");
                            }, 3000);
                        }
                    </script>
                    <!-- ボタンここまで -->        
                </div>
    
                <article class="article-item no-hover-effect">
                    {{ .Content }}
                </article>
            </ul>

        </div>
    </section>    
</main>

{{ partial "global-nav_work.html" . }}

<!-- debug-info -->
<p class="debug-info">Template : /layouts/work/single.html</p>

{{ end }}
