<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    <!-- コードブロックのシンタックスハイライト -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>

    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "images/common/favicon/favicon.ico" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/common/favicon/favicon-16x16.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/common/favicon/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "images/common/favicon/favicon-96x96.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ "images/common/favicon/favicon-192x192.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/common/favicon/apple-touch-icon.png" | relURL }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.ogImage }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Description }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.ogImage }}">

</head>
<body>
    {{ block "main" . }}{{ end }}

    <!-- debug-info -->
    <p class="debug-info">Template : /layouts/_default/baseof.html</p>
</body>
</html>
