{{ define "main" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>{{ .Site.Title }}ddd</h1>
    </header>
    <main>
        <h1>{{ .Title }}</h1>
        <ul>
            {{ range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
    </main>
    <footer>
        <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
        <div class="debug-info">
            <p>_default/terms.html</p>
        </div>
    </footer>
</body>
</html>
{{ end }}
