<header class="sp-header">
  <img src="/images/common/the-shoulders-of-giants.svg" alt="" class="logo_think" onclick="topFunction()" id="scrollTopButton" title="Go to top">
  <button id="openModal">
    <img src="/images/common/icon_list.svg">
  </button>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
      // スクロールトップのボタンがクリックされたときの処理
      $('#scrollTopButton').click(function(){
          // アニメーションを追加してスクロール
          $('html, body').animate({scrollTop : 0},800);
          return false;
      });
  });
</script>

<div id="overlay"></div>
<div id="modal">
  <div class="modal_close-list">
    
    <button class="shuffle" id="reloadPage">
      <img src="/images/common/icon_shuffle.svg" alt="">
      Shuffle
    </button>
    
    <button id="closeModal">
      <img src="/images/common/icon_close.svg" alt="">
      Close
    </button>
  </div>

    <div id="modalContent">
        
        <ul>
          {{ range $name, $taxonomy := .Site.Taxonomies.topic }}
          <li><a href="{{ "/topic/" | relLangURL }}{{ $name | urlize }}" class="a-link">{{ $name }}</a></li>
          {{ end }}
      </ul>
    </div>
</div>

<script>
$(document).ready(function(){
    // モーダルを表示する
    $('#openModal').click(function(){
        $('#overlay').fadeIn();
        $('#modal').slideDown();
        // スクロールロックを適用
        $('body').addClass('modal-open');
    });

    // モーダルを閉じる
    $('#closeModal, #overlay').click(function(){
        $('#overlay').fadeOut();
        $('#modal').slideUp();
        // スクロールロックを解除
        $('body').removeClass('modal-open');
    });

    // ページをリロードするボタン
    $('#reloadPage').click(function() {
        // モーダルを閉じる
        $('#overlay').fadeOut();
        $('#modal').slideUp(function() {
            // モーダルが完全に閉じられた後にページをリロード
            window.location.href = "/shoulders-of-giants/";
        });
    });

});
  </script>
  