<header class="sp-header">
  <img src="/images/common/work.svg" alt="" class="logo_work" onclick="topFunction()" id="scrollTopButton" title="Go to top">
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
      // スクロールトップのボタンがクリックされたときの処理
      $('#scrollTopButton').click(function(){
          // アニメーションを追加してスクロール
          $('html, body').animate({scrollTop : 0},800);
          return false;
      });
  });
  </script>