<aside class="main-item-primary menu">
    <ul>
        <li><a href="/topics/ニュース/">ニュース</a></li>
        <li><a href="/topics/音楽/">音楽</a></li>
        <li><a href="/topics/漫画・アニメ/">漫画・アニメ</a></li>
        <li><a href="/topics/映画・ドラマ/">映画・ドラマ</a></li>
        <li><a href="/topics/お笑い/">お笑い</a></li>
        <li><a href="/topics/ゲーム/">ゲーム</a></li>
        <li><a href="/topics/スポーツ/">スポーツ</a></li>
        <li><a href="/topics/本・雑誌/">本・雑誌</a></li>
        <li><a href="/topics/デザイン/">デザイン</a></li>
        <li><a href="/topics/インターネット・技術/">インターネット・技術</a></li>
        <li><a href="/topics/自然科学/">自然科学</a></li>
        <li><a href="/topics/人文・社会科学/">人文・社会科学</a></li>
    </ul>

    <ul>
        {{ $months := slice }}
        {{ range (where .Site.RegularPages "Section" "diary") }}
            {{ $month := index .Params.diaries 0 }}
            {{ if not (in $months $month) }}
                {{ $months = $months | append $month }}
            {{ end }}
        {{ end }}
        {{ $sortedMonths := sort $months }}
        {{ range $index, $month := $sortedMonths }}
            <li><a href="{{ printf "/diaries/%s" (urlize $month) }}">{{ $month }}</a></li>
        {{ end }}        

        <!-- YYYY-MM を形式変換する場合
        {{ $months := slice }}
        {{ range (where .Site.RegularPages "Section" "diary") }}
            {{ $month := index .Params.diaries 0 }}
            {{ if not (in $months $month) }}
                {{ $months = $months | append $month }}
            {{ end }}
        {{ end }}
        {{ $sortedMonths := sort $months }}
        {{ $total := len $sortedMonths }}
        {{ range $index := (seq 0 (sub $total 1)) }}
            {{ $i := sub (sub $total 1) $index }}
            {{ $monthFormatted := partial "convert_date.html" (index $sortedMonths $i) }}
            <li><a href="{{ printf "/diaries/%s" (urlize (index $sortedMonths $i)) }}">{{ $monthFormatted }}</a></li>
        {{ end }} -->
    </ul>
</aside>
