{{ define "main" }}
<div class="keyword-page">
    <aside class="tags-list">
        <h2>Tags</h2>
        <ul>
            {{ range .Site.Taxonomies.tags }}
            <li><a href="#{{ .Page.Title | urlize }}">{{ .Page.Title }} ({{ len .Pages }})</a></li>
            {{ end }}
        </ul>
    </aside>
    <div class="articles-list">
        <h2>Articles</h2>
        {{ range .Site.Taxonomies.tags }}
            <section id="{{ .Page.Title | urlize }}">
                <h3>{{ .Page.Title }}</h3>
                {{ range .Pages }}
                    <article id="{{ .Title | urlize }}">
                        <h4>{{ .Title }}</h4>
                        <div>{{ .Content }}</div>
                    </article>
                {{ end }}
            </section>
        {{ end }}
    </div>
</div>
{{ end }}
