{{ define "main" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/pages/keyword.css">
</head>
<body>
<div class="keyword-page">
    {{ partial "keyword_menu.html" . }}
    <div class="articles-list">
        <div class="articles-heading">
            <p>Ideas for thinking about</p>
            <h2>{{ .Title }}</h2>
        </div>
        {{ $wordParam := .Title }}
        {{ $articles := where .Site.RegularPages "Params.keywords" "intersect" (slice $wordParam) }}
        {{ if gt (len $articles) 0 }}
            {{ range $articles }}
                <article id="{{ .Title | urlize }}" class="article">
                    <div class="article-content">{{ .Content }}</div>
                </article>
            {{ end }}
        {{ else }}
            <p>No articles found for {{ $wordParam }}.</p>
        {{ end }}
    </div>
</div>
<p class="debug-info">keyword/list.html</p>
</body>
</html>
{{ end }}
