{{ define "main" }}
{{ partial "header.html" . }}
{{ partial "sp-header/about" . }}

<main class="main-section">
    <section class="main-section-1column">
        <div class="about">

        <!-- 写真とプロフィール -->
        <section class="about__profile">
            <img src="{{ "images/about/profile.png" | relURL }}" alt="Profile Picture">
            <article class="article-item">
                {{ .Content }}
                <ul class="about__profile__sns">
                    <li>
                        <p class="tooltip">Facebook</p>
                        <a href="#"><img src="/images/about/icon_facebook.svg" alt="Facebook"></a>
                    </li>
                    <li>
                        <p class="tooltip">X</p>
                        <a href="#"><img src="/images/about/icon_x.svg" alt="X"></a>
                    </li>
                    <li>
                        <p class="tooltip">Instagram</p>
                        <a href="#"><img src="/images/about/icon_instagram.svg" alt="Instagram"></a>
                    </li>
                    <li>
                        <p class="tooltip">TikTok</p>
                        <a href="#"><img src="/images/about/icon_tiktok.svg" alt="TikTok"></a>
                    </li>
                    <li>
                        <p class="tooltip">BeReal</p>
                        <a href="#"><img src="/images/about/icon_bereal.svg" alt="BeReal"></a>
                    </li>
                    <li>
                        <p class="tooltip">Bluesky</p>
                        <a href="#"><img src="/images/about/icon_bluesky.svg" alt="Bluesky"></a>
                    </li>
                    <li>
                        <p class="tooltip">Threads</p>
                        <a href="#"><img src="/images/about/icon_threads.svg" alt="Threads"></a>
                    </li>
                    <li>
                        <p class="tooltip">Discord</p>
                        <a href="#"><img src="/images/about/icon_discord.svg" alt="Discord"></a>
                    </li>
                    <li>
                        <p class="tooltip">Spotify</p>
                        <a href="#"><img src="/images/about/icon_spotify.svg" alt="Spotify"></a>
                    </li>
                </ul>
            </article>
        </section>

        <!-- 受賞歴 -->
        <section class="about__awards">

            <div class="article-item-heading">
                <p class="article-item-heading__eye-catch">
                    🏆
                </p>
                <div class="article-item-heading__label">
                    <h2 class="article-item-heading__label__h2">
                        受賞歴
                    </h2>
                </div>
                <p class="article-item-heading__sub-label">
                    Awards
                </p>
            </div>
        
            <article class="article-item">
                <p>Student Freepaper Forum 2010 最優秀賞、オーディエンス賞（2010年）</p>
                <p>マンガ倉庫 CMコンテスト 優秀賞（2014年）</p>
                <p>my Japan Award「Creatrive Summer Camp」CMコンテスト 地域最優秀賞（2016年）</p>
                <p>my Japan Award 2016 伊藤直樹賞（2016年）</p>
                <p>佐渡ビジネスコンテスト2022 最優秀賞（2022年）</p>
            </article>

        </section>

        <!-- メディア掲載 -->
        <section class="about__media-coverage">

            <div class="article-item-heading">
                <p class="article-item-heading__eye-catch">
                    📰
                </p>
                <div class="article-item-heading__label">
                    <h2 class="article-item-heading__label__h2">
                        メディア掲載
                    </h2>
                </div>
                <p class="article-item-heading__sub-label">
                    Media Coverage
                </p>
            </div>

            <div class="about__media-coverage__list">
                {{ range .Site.Data.media_coverage.media }}
                    <a href="{{ .url }}" target="_blank">
                        <div class="link-card">
                            <div class="link-card__left">
                                <h2 class="link-card__left__h2">
                                    {{ .title }}
                                </h2>
                                <p class="link-card__left__p">
                                    {{ .description }}
                                </p>
                            </div>
                            <img src="/images/about/icon_exit.svg" alt="" class="link-card__right">
                        </div>
                    </a>
                {{ end }}
            </div>
        </section>


        <section class="about__contact">

            <div class="article-item-heading">
                <p class="article-item-heading__eye-catch">
                    📩
                </p>
                <div class="article-item-heading__label">
                    <h2 class="article-item-heading__label__h2">
                        ご連絡・お問い合わせ
                    </h2>
                </div>
                <p class="article-item-heading__sub-label">
                    Contact
                </p>
            </div>

            <div class="about__contact__list">
                
                <a href="#" target="_blank" class="link-card in-contact">
                    <div class="link-card__left">
                        <h2 class="link-card__left__h2">
                            Google Form
                        </h2>
                    </div>
                    <img src="/images/about/icon_google.svg" alt="" class="link-card__right">
                </a>

                <a href="#" target="_blank" class="link-card in-contact">
                    <div class="link-card__left">
                        <h2 class="link-card__left__h2">
                            Messenger
                        </h2>
                    </div>
                    <img src="/images/about/icon_messenger.svg" alt="Messenger" class="link-card__right">
                </a>

                <a href="#" target="_blank" class="link-card in-contact">
                    <div class="link-card__left">
                        <h2 class="link-card__left__h2">
                            LINE
                        </h2>
                    </div>
                    <img src="/images/about/icon_line.svg" alt="" class="link-card__right">
                </a>

                <a href="#" target="_blank" class="link-card in-contact">
                    <div class="link-card__left">
                        <h2 class="link-card__left__h2">
                            WhatsApp
                        </h2>
                    </div>
                    <img src="/images/about/icon_whatsapp.svg" alt="" class="link-card__right">
                </a>

                <a href="#" target="_blank" class="link-card in-contact">
                    <div class="link-card__left">
                        <h2 class="link-card__left__h2">
                            Signal
                        </h2>
                    </div>
                    <img src="/images/about/icon_signal.svg" alt="" class="link-card__right">
                </a>

            </div>
        </section>

        </div>
    </section>
</main>

{{ partial "global-nav_about.html" . }}

<!-- debug-info -->
<p class="debug-info">Template : /layouts/about/index.html</p>

{{ end }}
