{{/* Diary一覧ページを最新記事の月のアーカイブページにリダイレクト */}}
{{ $diarySection := .Site.GetPage "section" "diary" }}
{{ $allMonths := slice }}
{{ if $diarySection }}
    {{ range $diarySection.Pages }}
        {{ $monthStr := .Date | dateFormat "2006-01" }}
        {{ if not (in $allMonths $monthStr) }}
            {{ $allMonths = $allMonths | append $monthStr }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $sortedMonths := sort $allMonths }}
{{ $total := len $sortedMonths }}
{{ $latestMonth := "" }}
{{ $redirectURL := "/diary/" }}
{{ if gt $total 0 }}
    {{ $latestMonth = index $sortedMonths (sub $total 1) }}
    {{ $monthPage := index .Site.Taxonomies.diary_month ($latestMonth | urlize) }}
    {{ if $monthPage }}
        {{ $redirectURL = $monthPage.Page.RelPermalink }}
    {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url={{ $redirectURL }}">
    <link rel="canonical" href="{{ $redirectURL }}">
</head>
<body>
    <script>window.location.replace("{{ $redirectURL }}");</script>
</body>
</html>
