/* CSS for Diary Page */
.diary-page {
    display: flex;
    flex-direction: row;
}

.month-list {
    width: 200px;
    margin-right: 20px;
}

.month-list h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.month-list ul {
    list-style: none;
    padding: 0;
}

.month-list ul li {
    margin-bottom: 5px;
}

.month-list ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.month-list ul li a:hover {
    text-decoration: underline;
}

.articles-list, .article-content {
    flex: 1;
}

.articles-list h2 {
    font-size: 20px;
    margin: 0 0 24px;
}

.articles-list h3 {
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.article {
    margin-bottom: 20px;
}

.article-link {
    text-decoration: none;
    color: inherit;
}

.article-content {
    padding: 10px;
    border: 1px solid #E7E7E9;
    border-radius: 24px;
    background-color: #fff;
    transition-duration: 0.4s;
}

.article-content:hover {
    border: 1px solid #6E6D79;
    transition-duration: 0.4s;
}

.articles-heading {
    background-color: #F8F7F4;
    padding: 24px 24px;
    margin: 0 0 24px 0;
    max-width: 880px;
    width: calc(100% - 88px);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.articles-heading h2 {
    margin: 0;
    color: #050317;
}

.articles-heading p {
    font-size: 14px;
    margin: 0 0 8px 0;
    font-family: "Helvetica Neue";
    font-style: italic;
    color: #050317;
    opacity: 0.7;
}