.articles-list {
  max-width: 907px;
  width: 100%;
  padding: 0;
  margin: 64px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article {
  width: calc(100% - 64px);
  margin: 0;
  padding: 32px;
  border: 1px solid #E7E7E9;
  border-radius: 24px;
  background-color: #fff;
  transition-duration: 0.4s;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.article:hover {
  border: 1px solid #6E6D79;
  transition-duration: 0.4s;
}

.no-hover-effect:hover {
  border: 1px solid #E7E7E9;
  transition-duration: 0.4s;
}

.article p{
  margin: 0;
  padding: 0;
  gap: 32px;
  width: 100%;
  color: #050317;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
}





.article-link {
  text-decoration: none;
  color: inherit;
}





.article-heading {
  background-color: #F8F7F4;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  width: calc(100% - 64px);
  margin: 0;
  padding: 24px 32px;
  border-radius: 24px;
  transition-duration: 0.4s;
  gap: 24px;
}

.article-heading__text {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: start;
}

.article-heading h2 {
  margin: 0;
  color: #050317;
  font-size: 20px;
}

.article-heading p {
  font-size: 14px;
  margin: 0;
  font-style: italic;
  color: #5D5D5F;
}

.article-heading__button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEDE6;
  border: 1px solid #F0EFEC;
  border-radius: 100%;
  cursor: pointer;
  transition-duration: 0.2s;
}

.article-heading__button:hover {
  background-color: #F0EFEC;
  border: 1px solid #6E6D79;
  cursor: pointer;
  transition-duration: 0.2s;
}

.article-heading__button {
  transition: transform 0.2s, background-color 0.2s;
}

.article-heading__button:active {
  transform: scale(0.95);
  background-color: #DEDDDA;
}

.article-title {
  margin: 0;
  padding: 0;
  max-width: 100%;
  color: #050317;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 28.8px */
  display: inline-block;
  margin: 0;
  text-decoration: none;
  transition-duration: 0.4s;
}

.article-title:hover {
  opacity: 0.6;
  transition-duration: 0s;
}