/* --------------------
デバイス共通のスタイル
-------------------- */

.main {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  justify-content: center;
  position: absolute;
}

.main-1column {
  
}

.main-1column::-webkit-scrollbar {
  display: none;
}


.main-2column__left {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: calc((100dvw - 960px) / 2);
  padding-right: 32px;
}

.main-2column__left::-webkit-scrollbar {
  display: none;
}


.main-2column__right {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 688px;
  padding-right: calc((100dvw - 960px) / 2);
}

.main-2column__right::-webkit-scrollbar {
  display: none;
}



/* --------------------
スマホ用のスタイル
-------------------- */

@media (max-width: 960px) {
  .main-container {
    width: calc(100vw - 32px);
    padding: 0 16px;
  }

  .main-item-primary {

  }

  .main-item-secondary {
    
  }
}



/* --------------------
パソコン用のスタイル
-------------------- */
@media (min-width: 961px) {
  .main {
    top: 96px;
    left: 0;
    height: calc(100dvh - 96px);
  }

  .main-item-primary {
    width: 688px;
  }
  

  .main-item-secondary {
    min-width: 240px;
    padding: 0 32px 0 0;
    height: calc(100dvh - 96px);
  }
}






