.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 64px 0 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu a {
  text-decoration: none;
  color: #050317;
  font-size: 14px;
  padding: 0;
  /* background-color: #ddd; */
  border-radius: 40px;
  transition-duration: 0.4s;
  display: inline-block;
}

.menu a:hover {
  opacity: 0.6;
  transition-duration: 0s;
}