.sp-header {
  flex-direction: row;
  width: 100dvw;
  justify-content: center;
  height: calc(72px - 4px);
  align-items: center;
  padding: 4px 0 0;
}

.sp-header img {
  margin: 0 16px;
}

.sp-header img.logo_about {
  width: 70px;
}

.sp-header img.logo_work {
  width: 62px;
}

.sp-header img.logo_diary {
  width: 69px;
}

.sp-header img.logo_think {
  width: 172px;
}

.sp-header button {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  background-color: #F0EFEC;
  border-radius: 40px;
  margin: 0;
}

.sp-header button img {
  margin: 0;
}


/* --------------------
スマホ用のスタイル
-------------------- */
@media (max-width: 960px) {
  .sp-header {
    display: flex;
  }
}

/* --------------------
パソコン用のスタイル
-------------------- */
@media (min-width: 961px) {
  .sp-header {
    display: none;
  }
}