{{ define "main" }}
{{ partial "header.html" . }}
{{ partial "sp-header/diary" . }}

<main class="main-section">
    {{ partial "diary_menu.html" . }}
    <section class="main-section-2column__right">
        <ul class="article-container" id="articles-list">
            <div class="article-item-heading">
                <div class="article-item-heading__label">
                    <p class="article-item-heading__label__p">
                        {{ .Date | dateFormat "2006-01-02" }}
                    </p>
                    <h2 class="article-item-heading__label__h2">
                        {{ .Title }}
                    </h2>
                </div>

                <!-- ボタンここから -->
                <button class="article-item-heading__button" onclick="copyToClipboard()">
                    <img src="{{ "images/common/icon_link.svg" | relURL }}" alt="Get article url">
                </button>
                <script>
                    function copyToClipboard() {
                        const url = window.location.href;
                        navigator.clipboard.writeText(url).then(function() {
                            showNotification();
                        }, function(err) {
                            console.error('リンクの保存に失敗しました: ', err);
                        });
                    }
                    function showNotification() {
                        var notification = document.getElementById("notification");
                        notification.className = "notification show";
                        setTimeout(function() {
                            notification.className = notification.className.replace(" show", "");
                        }, 3000);
                    }
                </script>
                <!-- ボタンここまで -->        
            </div>


            
        {{ $pages := (where .Site.RegularPages "Section" "diary") }}
        {{ $sortedPages := sort $pages "Date" "desc" }}
        {{ $firstPage := index $sortedPages 0 }}

        {{ if $firstPage }}
            <article class="article-item">
                <a href="{{ $firstPage.Permalink }}">
                    <h1>{{ $firstPage.Date | dateFormat "2006-01-02" }}</h1>
                </a>
                {{ $firstPage.Content }}
            </article>
        {{ end }}

        <div class="pagination-buttons">
            {{ if gt (len $sortedPages) 1 }}
                {{ $previousPage := index $sortedPages 1 }}
                <a href="{{ $previousPage.Permalink }}" class="pagination-button">
                    <img src="/images/common/icon_left.svg" alt="">
                    Prev
                </a>
            {{ end }}
        </div>
        </ul>

    </section>
</main>

{{ partial "global-nav_diary.html" . }}

<!-- debug-info -->
<p class="debug-info">Template : /layouts/diary/index.html</p>

{{ end }}
