{{ define "main" }}

<main class="main">
    <div class="main-container">
        {{ partial "diary_menu.html" . }}
        <section class="main-item-primary">
            <ul class="article-container" id="articles-list">
            {{ range (where .Site.RegularPages "Section" "diary") }}
                <article class="article-item">
                    <a href="{{ .Permalink }}">
                        <h1>{{ .Date | dateFormat "2006-01-02" }}</h1>
                    </a>
                    {{ .Content }}
                </article>
            {{ end }}
            </ul>
        </section>
    </div>
</main>

<!-- debug-info -->
<p class="debug-info">Template : /layouts/diary/index.html</p>

{{ end }}
