{{ define "main" }}

<main class="content-area">
    {{ partial "diary_menu.html" . }}
    <div class="content-area__main">
        <ul class="articles-list" id="articles-list">
        {{ range (where .Site.RegularPages "Section" "diary") }}
            <article class="article no-hover-effect">
                <a href="{{ .Permalink }}" class="article-title">
                    {{ .Date | dateFormat "2006-01-02" }}
                </a>
                {{ .Content }}
            </article>
        {{ end }}
        </ul>
    </div>
</main>

<!-- debug-info -->
<p class="debug-info">Template : /layouts/diary/index.html</p>

{{ end }}
