{{ define "main" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/pages/diary.css">
</head>
<body>
<div class="diary-page">
    {{ partial "diary_menu.html" . }}
    <div class="article-content">
        <h2>{{ .Title }}</h2>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</div>
<div class="debug-info">
    <p>diary/single.html</p>
</div>
</body>
</html>
{{ end }}
