{{ define "main" }}
{{ partial "header.html" . }}
{{ partial "sp-header/diary" . }}
{{ partial "notification.html" . }}

<main class="main-section">
    {{ partial "diary_menu.html" . }}
    <section class="main-section-2column__right">
        <ul class="article-container" id="articles-list">

            <!-- <div class="article-item-heading">
                <div class="article-item-heading__label">
                    <p class="article-item-heading__label__p">
                        {{ .Date | dateFormat "2006-01-02" }}
                    </p>
                    <h2 class="article-item-heading__label__h2">
                        {{ .Title }}
                    </h2>
                </div>

                
                <button class="article-item-heading__button" onclick="copyToClipboard()">
                    <img src="{{ "images/common/icon_link.svg" | relURL }}" alt="Get article url">
                </button>
                <script>
                    function copyToClipboard() {
                        const url = window.location.href;
                        navigator.clipboard.writeText(url).then(function() {
                            showNotification();
                        }, function(err) {
                            console.error('リンクの保存に失敗しました: ', err);
                        });
                    }
                    function showNotification() {
                        var notification = document.getElementById("notification");
                        notification.className = "notification show";
                        setTimeout(function() {
                            notification.className = notification.className.replace(" show", "");
                        }, 3000);
                    }
                </script>
                    
            </div> -->


            <article class="article-item">
                
                <p class="date">{{ .Date | dateFormat "2006-01-02" }}</p>
                <h1>{{ .Title }}</h1>
                
                {{ .Content | replaceRE "<img ([^>]+)>" "<div class=\"image-wrapper\"><img $1></div>" | safeHTML }}
            
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        document.querySelectorAll('.image-wrapper img').forEach(function(img) {
                            const altText = img.getAttribute('alt');
                            if (altText) {
                                img.parentElement.setAttribute('data-alt', altText);
                            } else {
                                console.log('alt属性が空のimgタグを検出しました');
                            }
                        });
                    });
                </script>

                <div class="social-action">
                    <div class="social-action__left">
                        <div class="social-action__line">
                            <div class="social-action__line-icon"></div>
                            <a href="https://lin.ee/eVcRqAC" target="_blank">
                                このブログの更新通知をLINEで受け取る
                            </a>
                        </div>
                    </div>
                    <div class="social-action__right">
                        <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" target="_blank" class="social-action__x" data-show-count="false"></a>
                        <a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}" target="_blank" class="social-action__hatena"></a>
                        <a class="social-action__link" onclick="copyToClipboard('{{ .Permalink }}')"></a>
                        <script>
                            function copyToClipboard() {
                                const url = window.location.href;
                                navigator.clipboard.writeText(url).then(function() {
                                    showNotification();
                                }, function(err) {
                                    console.error('リンクの保存に失敗しました: ', err);
                                });
                            }
                            function showNotification() {
                                var notification = document.getElementById("notification");
                                notification.className = "notification show";
                                setTimeout(function() {
                                    notification.className = notification.className.replace(" show", "");
                                }, 3000);
                            }
                        </script>
                    </div>
                </div>
            </article>
        

            {{ partial "pagination-buttons.html" . }}    

        </ul>
    </section>

    <div class="image-loader"></div>
</main>

{{ partial "global-nav_diary.html" . }}

<!-- debug-info -->
<p class="debug-info">Template : /layouts/diary/single.html</p>

{{ end }}
