{{ define "main" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/pages/diary.css">
</head>
<body>
<!-- 通知 -->
<div id="notification" class="notification">
    Link copied to clipboard!
</div>

<main class="content-area">
    {{ partial "diary_menu.html" . }}
    <div class="content-area__main">
        <ul class="articles-list" id="articles-list">
            <div class="article-heading">
                <div class="article-heading__text">
                    <p>
                        {{ .Date | dateFormat "2006-01-02" }}
                    </p>
                    <h2>{{ .Title }}</h2>
                </div>

                <!-- ボタンここから -->
                <button class="article-heading__button" onclick="copyToClipboard()">
                    <img src="{{ "images/common/icon_link.svg" | relURL }}" alt="Get article url">
                </button>
                <script>
                    function copyToClipboard() {
                        const url = window.location.href;
                        navigator.clipboard.writeText(url).then(function() {
                            showNotification();
                        }, function(err) {
                            console.error('リンクの保存に失敗しました: ', err);
                        });
                    }
                    function showNotification() {
                        var notification = document.getElementById("notification");
                        notification.className = "notification show";
                        setTimeout(function() {
                            notification.className = notification.className.replace(" show", "");
                        }, 3000);
                    }
                </script>
                <!-- ボタンここまで -->        
            </div>
            <article class="article no-hover-effect">
                {{ .Content }}
            </article>
        </ul>
    </div>
</main>

<!-- debug-info -->
<p class="debug-info">Template : /layouts/diary/single.html</p>

</body>
</html>
{{ end }}
