<aside class="giants-toc" aria-label="About 目次">
    <nav class="giants-toc__nav">
        <ul class="giants-toc__list">
            <li>
                <a href="/about/" class="giants-toc__profile-link">プロフィール</a>
            </li>
            <li>
                <a href="/about/?section=about-this-site">このサイトについて</a>
            </li>
            <li>
                <a href="/about/?section=media-coverage">メディア掲載</a>
            </li>
            <li>
                <a href="/about/?section=contact">お問い合わせ</a>
            </li>
        </ul>
    </nav>
</aside>

<script>
    (function() {
        // メディア掲載の詳細ページからプロフィールに遷移する場合の処理
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', handleAboutTocLinks);
        } else {
            handleAboutTocLinks();
        }

        function handleAboutTocLinks() {
            const profileLink = document.querySelector('.giants-toc__profile-link');
            if (profileLink) {
                // 現在のセクションがmedia-coverageの場合、/about/に遷移
                const currentPath = window.location.pathname;
                if (currentPath.startsWith('/media-coverage/')) {
                    profileLink.setAttribute('href', '/about/');
                } else if (currentPath.startsWith('/about/')) {
                    // Aboutページ内の場合は#profileに
                    profileLink.setAttribute('href', '#profile');
                }
            }
        }
    })();
</script>


