{{- $monthNames := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" -}}
{{- $date := . -}}
{{- if eq (len $date) 7 -}}
  {{- $year := (substr $date 0 4) -}}
  {{- $monthStr := (substr $date 5 2) -}}
  {{- if eq (substr $monthStr 0 1) "0" -}}
    {{- $monthStr = (substr $monthStr 1 1) -}}
  {{- end -}}
  {{- $monthIndexInt := int $monthStr -}}
  {{- $monthName := index $monthNames (sub $monthIndexInt 1) -}}
  {{- printf "%s %s" $monthName $year -}}
{{- else -}}
  {{- printf "Invalid date format: %s" $date -}}
{{- end -}}
