<div class="sidebar">
  <div class="sidebar__main">
    <div class="sidebar__logo">
      <a href="/">
        <img src="{{ "images/common/logo.svg" | relURL }}" alt="ezeroms.com">
      </a>
      <button class="sidebar__minimize-btn" id="sidebar-minimize-btn" aria-label="サイドバーを最小化" data-tooltip="メニューを非表示にする">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 12L6 8L10 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    {{ $current := .RelPermalink }}
    
    {{/* Diaryセクションの最新月を取得 */}}
    {{ $diarySection := .Site.GetPage "section" "diary" }}
    {{ $diaryMonths := slice }}
    {{ if $diarySection }}
        {{ range $diarySection.Pages }}
            {{ $monthStr := .Date | dateFormat "2006-01" }}
            {{ if not (in $diaryMonths $monthStr) }}
                {{ $diaryMonths = $diaryMonths | append $monthStr }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ $sortedDiaryMonths := sort $diaryMonths }}
    {{ $diaryLatestMonth := "" }}
    {{ $diaryURL := "/diary/" }}
    {{ if gt (len $sortedDiaryMonths) 0 }}
        {{ $diaryLatestMonth = index $sortedDiaryMonths (sub (len $sortedDiaryMonths) 1) }}
        {{ $diaryMonthPage := index .Site.Taxonomies.diary_month ($diaryLatestMonth | urlize) }}
        {{ if $diaryMonthPage }}
            {{ $diaryURL = $diaryMonthPage.Page.RelPermalink }}
        {{ else }}
            {{/* タクソノミーページが存在しない場合でも、直接URLを生成 */}}
            {{ $diaryURL = printf "/diary_month/%s/" ($diaryLatestMonth | urlize) }}
        {{ end }}
    {{ end }}
    
    <nav class="sidebar__nav-group" aria-label="グローバルナビゲーション">
      <ul class="sidebar__nav">
        <li>
          <a class="{{ if strings.HasPrefix $current "/about/" }}is-active{{ end }}" href="/about/profile/">About</a>
        </li>
        <li>
          <a class="{{ if or (strings.HasPrefix $current "/diary/") (strings.HasPrefix $current "/diary_month/") (strings.HasPrefix $current "/diary_tag/") }}is-active{{ end }}" href="{{ $diaryURL }}">Diary</a>
        </li>
        <li>
          <a class="{{ if strings.HasPrefix $current "/column/" }}is-active{{ end }}" href="/column/">Column</a>
        </li>
        <li>
          <a class="{{ if strings.HasPrefix $current "/work/" }}is-active{{ end }}" href="/work/">Work</a>
        </li>
        {{/* Snapの導線は一時的に非表示。再表示する際は下記 li を有効化する。
        <li>
          <a class="{{ if strings.HasPrefix $current "/snap/" }}is-active{{ end }}" href="/snap/">Snap</a>
        </li>
        */}}
      </ul>
      
      <div class="sidebar__library">
        <h3 class="sidebar__library-heading">Library</h3>
        <ul class="sidebar__nav">
          <li>
            <a class="{{ if eq .Section "shoulders-of-giants" }}is-active{{ end }}" href="/shoulders-of-giants/">The shoulders of Giants</a>
          </li>
          {{/* Chronicleの導線は一時的に非表示。再表示する際は下記 li を有効化する。
          <li>
            <a class="{{ if eq .Section "chronicle" }}is-active{{ end }}" href="/chronicle/">Chronicle</a>
          </li>
          */}}
          {{/* UI Design Guidebookの導線は一時的に非表示。再表示する際は下記 li を有効化する。
          <li>
            <a class="{{ if eq .Section "ui-design-guidebook" }}is-active{{ end }}" href="/ui-design-guidebook/">UI Design Guidebook</a>
          </li>
          */}}
        </ul>
      </div>
    </nav>
  </div>
</div>

