<div class="diary-secondary-nav">
    <div class="diary-secondary-nav__section">
        <div class="secondary-nav__tags">
            {{ $allTags := slice }}
            {{ range (where .Site.RegularPages "Section" "tweet") }}
                {{ if .Params.tweet_tag }}
                    {{ range .Params.tweet_tag }}
                        {{ if not (in $allTags .) }}
                            {{ $allTags = $allTags | append . }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $sortedTags := sort $allTags }}
            {{ $currentTag := "" }}
            {{ if and .Data .Data.Term }}
                {{ $currentTag = .Data.Term | urlize }}
            {{ end }}
            {{ range $sortedTags }}
                {{ $label := . }}
                {{ $isActive := false }}
                {{ if and $currentTag (eq ($label | urlize) $currentTag) }}
                    {{ $isActive = true }}
                {{ end }}

                {{ $taxonomy := "" }}
                {{ range $term, $pages := $.Site.Taxonomies.tweet_tag }}
                    {{ if eq ($term | urlize) ($label | urlize) }}
                        {{ $taxonomy = $pages }}
                    {{ end }}
                {{ end }}

                {{ with $taxonomy }}
                    <a href="{{ .Page.RelPermalink }}" class="tag {{ if $isActive }}active{{ end }}" data-tag="{{ $label }}">{{ $label }}</a>
                {{ else }}
                    <span class="tag {{ if $isActive }}active{{ end }}" data-tag="{{ $label }}">{{ $label }}</span>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>


