{{ define "main" }}
    <section class="top-main">
        <div class="top-main__content">
            <a href="/" class="top-logo">
                <img src="{{ "images/common/logo.svg" | relURL }}" alt="ezeroms.com" class="top-logo__img">
            </a>
            <h2 class="top-message">One thing I can tell you is you got to be free!</h2>

            <div class="random-image">
                <a href="/">
                {{ $images := readDir "static/images/top" }}
                {{ $imageNames := slice }}
                {{ range $images }}
                    {{ $imageNames = $imageNames | append (dict "Name" .Name) }}
                {{ end }}
                <div id="image-container" data-images='{{ $imageNames | jsonify }}'></div>
                <img id="randomImage" src="" alt="Random Image" class="top-photo">
                </a>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var imageContainer = document.getElementById("image-container");
            var imagesData = imageContainer.getAttribute("data-images");
            try {
                var images = JSON.parse(imagesData);
                if (images.length > 0) {
                    var randomIndex = Math.floor(Math.random() * images.length);
                    var randomImage = images[randomIndex].Name;
                    var timestamp = new Date().getTime();
                    document.getElementById("randomImage").src = "/images/top/" + randomImage + "?v=" + timestamp;
                }
            } catch (e) {
                console.error("Error parsing images data:", e);
            }
        });
    </script>
{{ end }}

{{ define "secondary" }}
{{ end }}
