{{ define "section_header" }}
    {{ partial "date-selector-nav-tweet.html" . }}
{{ end }}

{{ define "main" }}
    {{ partial "notification.html" . }}

    <section class="page-section">
        <div class="page-section__content">
            <ul class="article-container tweet-container">
                <article class="article-item tweet-item">
                    <div class="tweet-item__bubble">
                        <div class="tweet-item__text{{ if .Params.voice }} tweet-item__text--{{ .Params.voice }}{{ end }}">{{ .Content | replaceRE "<img ([^>]+)>" "<div class=\"image-wrapper\"><img $1></div>" | safeHTML }}</div>
                        <div class="tweet-item__bottom">
                            {{ if .Params.tweet_tag }}
                                <div class="tweet-item__tags">
                                    {{ $sortedTags := sort .Params.tweet_tag }}
                                    {{ range $sortedTags }}
                                        {{ $tagPage := index $.Site.Taxonomies.tweet_tag (. | urlize) }}
                                        {{ if $tagPage }}
                                            <a href="{{ $tagPage.Page.RelPermalink }}" class="tag" data-tag="{{ . }}">{{ . }}</a>
                                        {{ else }}
                                            <span class="tag" data-tag="{{ . }}">{{ . }}</span>
                                        {{ end }}
                                    {{ end }}
                                </div>
                            {{ end }}
                            <div class="tweet-item__footer">
                                <p class="date tweet-item__date">
                                    {{ .Date | dateFormat "Monday, January 2, 2006" }}{{ if .Params.place }}・{{ .Params.place }}{{ end }}
                                </p>
                            </div>
                        </div>
                        <div class="tweet-item__emoji" aria-label="{{ if .Params.voice }}{{ .Params.voice }}{{ else }}通常の声{{ end }}">{{ if .Params.emoji }}{{ .Params.emoji }}{{ else }}😊{{ end }}</div>
                    </div>
                </article>
            </ul>
        </div>
    </section>
{{ end }}

