{{ define "main" }}
<div class="keyword-page">
    esssšesssšesssš
    <aside class="tags-list">
        <h2>_</h2>
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }} ({{ len $taxonomy }})</a></li>
            {{ end }}
        </ul>
    </aside>
    <div class="articles-list">
        <h2>All Articles tagsdd</h2>
        {{ $allPages := (where .Site.RegularPages "Section" "keyword") }}
        {{ $allPages = shuffle $allPages }}
        {{ range $index, $page := $allPages }}
            <article id="{{ $page.Title | urlize }}" class="article">
                <div class="article-content" onclick="copyLink('{{ $page.Permalink }}')">
                    {{ $page.Content }}
                </div>
            </article>
        {{ end }}
    </div>
    <div class="debug-info">
        <p>taxonomy/keywords.html</p>
    </div>
</div>

<script>
function copyLink(link) {
    navigator.clipboard.writeText(link).then(() => {
        alert('Link copied to clipboard: ' + link);
    });
}
</script>
{{ end }}
