{{ define "main" }}
    {{ partial "notification.html" . }}

    <section class="page-section page-section--about">
        <div class="page-section__content page-section__content--narrow">
            <ul class="article-container column-list">
                {{ range .Pages }}
                    <li class="column-list-item media-coverage-item">
                        <a href="{{ .RelPermalink }}" class="column-card media-coverage-card">
                            {{ if .Params.date }}
                                <p class="date">{{ .Date | dateFormat "Jan 2" }} · {{ .Date | dateFormat "Mon" }} · {{ .Date | dateFormat "2006" }}</p>
                            {{ end }}
                            <h3 class="column-card__title">{{ .Title }}</h3>
                            {{ if .Params.lead }}
                                <p class="media-coverage-card__lead">{{ .Params.lead }}</p>
                            {{ end }}
                        </a>
                    </li>
                {{ end }}
            </ul>
            
            {{ partial "article-navigation-about.html" . }}
        </div>
    </section>
{{ end }}

