<!--
Parameters:
    type - (Required) album / track / playlist / artist / podcast / episode
    id - (Required) Target ID
    width - (Optional) width
    height - (Optional) height
-->

{{ if .IsNamedParams }}
  {{ $type := .Get "type" }}
  {{ $height := "380" }}
  {{ if eq $type "podcast" }}
    {{ $height = "232" }}
  {{ end }}
  {{ if eq $type "episode" }}
    {{ $height = "232" }}
  {{ end }}
  <iframe src="https://open.spotify.com/embed/{{ $type }}/{{ .Get "id" }}"
      width="{{ default "100%" (.Get "width") }}"
      height="{{ default $height (.Get "height") }}"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
      class="spotify"></iframe>
{{ else }}
  {{ $type := .Get 0 }}
  {{ $height := "380" }}
  {{ if eq $type "podcast" }}
    {{ $height = "232" }}
  {{ end }}
  {{ if eq $type "episode" }}
    {{ $height = "232" }}
  {{ end }}
  <iframe src="https://open.spotify.com/embed/{{ $type }}/{{ .Get 1 }}"
      width="{{ default "100%" (.Get 2) }}"
      height="{{ default $height (.Get 3) }}"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
      class="spotify"></iframe>
{{ end }}
