<!--
Parameters:
    id - (Required) YouTube video ID
    width - (Optional) width (default: 100%)
    height - (Optional) height (default: 315)
-->

{{ if .IsNamedParams }}
  <iframe
    src="https://www.youtube.com/embed/{{ .Get "id" }}"
    width="{{ default "100%" (.Get "width") }}"
    height="{{ default "315" (.Get "height") }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="youtube">
  </iframe>
{{ else }}
  <iframe
    src="https://www.youtube.com/embed/{{ .Get 0 }}"
    width="{{ default "100%" (.Get 1) }}"
    height="{{ default "315" (.Get 2) }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="youtube">
  </iframe>
{{ end }}